body {
    background-color: black;
}
h1 {
    color: white;
    padding-left: 1em;
}
.friend {
    background-color: white;
    padding-left: 1em;
}
.friend h3 {
    text-transform: uppercase;
}
p {
    color: white;
    padding-left: 1em;
}
